
.checkout__title{
    background: linear-gradient(220deg, #F8DC00 10%, #EFB600 80%);
}

.input__search{
    width: 5em;
}

.item{
    &-info__summary, &-info__details{
    border: 1px solid #ffed4a;
    }
    
    &__img{
        width: 10em;
        height: 10em;
    }
}
